
.auth-form{
  
    background: white; 
position: absolute;
width: 490px;
height: 422px;
left: 475px;
top: 172px; 
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);


}
.Email{
    position: absolute;
width: 449px;
height: 86px;
left: 15px;
top: 25px;

}
.input-email{
    position: absolute;
width: 423px;
height: 44px;
left: 10px;
top: 32px;

border: 1px solid rgba(0, 0, 0, 0.64);

border-radius: 7px;
}

.email-label{
    position: absolute;
width: 52px;
height: 22px;
left: 10px;
top: 5px;

font-size: 18px;
font-weight: 500;
}
.Password{
    position: absolute;
width: 449px;
height: 86px;
left: 15px;
top: 121px;


}
.input-passworld{
    position: absolute;
    width: 423px;
    height: 44px;
    left: -4px;
    top: 32px;
    
    border: 1px solid rgba(0, 0, 0, 0.64);
    box-sizing: border-box;
    border-radius: 7px;
}

.passworld-label{
    position: absolute;
width: 72px;
height: 22px;
left: -4px;
top: 5px;
font-size: 18px;
font-weight: 500;
}

.auth-button{
position: absolute;
width: 135px;
height: 42px;
left: 157px;
top: 217px;

background: #7FC3F5;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 7px;
}
.zareget{
    position: absolute;
width: 449px;
height: 37px;
left: 60px;
top: 284px;
font-weight: 500;
font-size: 18px;

}
.zareget1{
    position: absolute;
width: 449px;
height: 37px;
left: 177px;
top: 284px;
font-weight: 500;
font-size: 18px;
color:  #057AE6;

}
.not-now{
    
position: absolute;
width: 449px;
height: 37px;
left: 131.5px;;
top: 331px;
font-weight: 500;
font-size: 18px;
color:  #057AE6;
}
.icon{
    position: absolute;
width: 64.39px;
height: 139.01px;
left: 901px;
top: 90px;
z-index: 3;
}